@import './../base/functions';
.footer-cont {
  border-top: 1px solid var(--secondary-variant);

  h1 {
    grid-column: 1/-1;
  }
  .logo {
    aspect-ratio: 989.92/590.1;
    height: mobile-vw(64px);
    svg {
      fill: var(--secondary-variant);
    }
    @include desktop {
      height: desktop-vw(96px);
    }
  }
}

.form-wrap {
  width: 100%;
  grid-column: 1/-1;
  @include desktop {
    grid-column: 1/5;
  }
}

.links {
  display: flex;
  grid-column: 1/-1;
  div {
    display: flex;
    flex-direction: column;
    gap: mobile-vw(24px);
  }
  @include mobile {
    gap: mobile-vw(48px);
  }
  @include desktop {
    justify-self: flex-end;
    gap: desktop-vw(96px);
    grid-column: 10/-1;
    div {
      gap: desktop-vw(16px);
    }
  }
}
.bottom {
  border-top: 1.75px solid var(--secondary-variant);
  align-items: center;
  div {
    grid-column: 1/-1;
  }
  .socials,
  .support {
    display: flex;
    width: fit-content;
    gap: mobile-vw(32px);
    svg {
      display: inline-block;
      fill: var(--secondary-variant);
      height: mobile-vw(24px);
      width: mobile-vw(24px);
    }
  }

  .copy-right {
    justify-self: center;
  }
  @include mobile {
    .copy-right {
      order: 3;
    }
  }
  @include desktop {
    div {
      grid-column: span 4;
    }
    .socials,
    .support {
      gap: desktop-vw(32px);
      svg {
        display: inline-block;
        height: desktop-vw(32px);
        width: desktop-vw(32px);
      }
    }
    .socials {
      justify-self: flex-end;
    }
  }
}
