@import './../base/functions';

.form-cont {
  position: relative;
  @include desktop {
    min-width: 100%;

    button {
      min-width: 100%;
    }
    label {
      font-weight: 600;
    }
  }
}
