@import './../base/functions';

.form-cont {
  position: relative;
  @include desktop {
    min-width: 100%;

    button {
      min-width: 100%;
    }
    label {
      font-weight: 600;
    }
  }
}

.name-field {
  @include desktop {
    display: flex;

    div {
      flex: 1;
    }
    gap: desktop-vw(16px);
  }
}
