@import './../base/functions';

.container {
  width: 600vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.firstContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: yellow;
}

.panel {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.red {
  background: red;
}
.orange {
  background: orange;
}
.purple {
  background: purple;
}
.blue {
  background-color: blue;
}

.box-1 {
  height: desktop-vw(200px);
  width: desktop-vw(200px);
  background-color: blue;
}
.box-2 {
  height: desktop-vw(200px);
  width: desktop-vw(200px);
  background-color: pink;
}

.vid-cont {
  grid-column: 1/5;
}

.desc {
  grid-column: 6/-1;
}
