@import './../base/functions';

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--nav-height);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-bottom: 2px solid;
}

.inner {
  width: var(--layout-width);
}

.logo {
  svg {
    fill: var(--secondary-variant);
  }
}
