@import './../base/functions';

.title {
  grid-column: 1/-1;
}

.desc {
  grid-column: 1/-1;
  justify-self: center;
  @include desktop {
    grid-column: 4/10;
  }
}

.btn-cont {
  grid-column: 1/-1;
  justify-self: center;
}
