@import './../base/functions';

.hero {
  aspect-ratio: 3/5;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;

  @include mobile {
  }
  @include desktop {
    aspect-ratio: 15/9;
  }
}

.title {
  position: relative;
  // max-width: mobile-vw(400px);
  // @include desktop {
  //   max-width: desktop-vw(1000px);
  // }
}
.inner {
  position: relative;
  height: mobile-vw(275px);
  @include desktop {
    height: desktop-vw(600px);
    h1 {
      div:nth-of-type(5) {
        z-index: 2;
      }
    }
  }
}

.image {
  aspect-ratio: 937/752;
  height: mobile-vw(275px);
  width: auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  @include desktop {
    height: desktop-vw(600px);
  }
}

.btn-cont {
  position: relative;
  width: 100%;
  @include desktop {
    @include flexbox($justifyContent: center);
  }
}
