@import './../base/functions';

.hero {
  aspect-ratio: 3/5;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  @include mobile {
  }
  @include desktop {
    aspect-ratio: 15/9;
  }
}

.title {
  position: relative;
  max-width: mobile-vw(400px);
  @include desktop {
    max-width: desktop-vw(900px);
  }
}

.cloud-l,
.cloud-r {
  z-index: 1;
  position: absolute;
  bottom: 0;
  height: mobile-vw(200px);
  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  @include desktop {
    height: desktop-vw(350px);
    width: auto;
  }
}

.cloud-l {
  aspect-ratio: 962/509;
  left: 0;
  transform: translate(mobile-vw(-200px));
  @include desktop {
    transform: translate(desktop-vw(-165px));
  }
}

.cloud-r {
  aspect-ratio: 985/520;
  right: 0;
  transform: translate(mobile-vw(200px));
  @include desktop {
    transform: translate(desktop-vw(160px));
  }
}
