@import './../base/functions';

.desc {
  position: relative;

  p {
    font-family: var(--heading-font);

    text-align: left;
    line-height: 0.98;
    letter-spacing: -0.25px;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
  }

  .wrap {
    // webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    // clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    display: flex;
    will-change: transform;
    background: pink;
  }

  @include desktop {
    .wrap {
      aspect-ratio: 233.172/44;
      width: auto;
      height: desktop-vw(20px);
    }
  }
}

.image {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 682 / 306.281;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 682 / 306.281;
  }
}
