@import './../base/functions';

.desc {
  position: relative;

  p {
    font-family: var(--heading-font);

    text-align: left;
    line-height: 0.98;
    letter-spacing: -0.25px;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
  }

  @include desktop {
  }
}
.wrap-1,
.wrap-2,
.wrap-3,
.wrap-4 {
  @include mobile {
    display: none;
  }
  position: relative;
  width: desktop-vw(400px);
  height: desktop-vw(100px);
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 25% 25%;
  }
}
.wrap-1 {
  width: desktop-vw(400px);

  overflow: hidden;
  img {
    object-position: 25% 25%;
  }
}

.wrap-2 {
  width: desktop-vw(350px);
  img {
    object-position: 50% 80%;
  }
}
.wrap-3 {
  width: desktop-vw(350px);
  img {
    object-position: 50% 50%;
  }
}
.wrap-4 {
  width: desktop-vw(350px);
  img {
    object-position: 50% 95%;
  }
}
